

.meaning {
    font-weight: bold;
    border: 0px solid black;
    border-radius: 5px;
    padding: 3px;
    /* background-color: #ffffa3; */
}

.missing {
    background-color: #ffe4e4 !important;
}

.kanji_is_radical {
    background-color: #ececec !important;
}


/* radical -> meaning */
.radical {
    font-weight: bold;
    border: 0px solid black;
    border-radius: 5px;
    padding: 3px;
    background-color: #a3ffb3;
}
.radical_kanji {

}
.meaning_kanji_meaning {

}

/* meaning -> reading */
.meaning_kanji_reading {

}
.reading {
    font-weight: bold;
    border: 0px solid black;
    border-radius: 5px;
    padding: 3px;
    padding-right: 1px;
    padding-left: 1px;
}
.onyomi {
    background-color: #ffa3a3;
}
.kunyomi {
    background-color: #a3d9ff;
}
.hiragana {

}


/* other */
.meanings_en {
    color: gray;
}


/* radical img */
.img_container img {
    position: absolute;
    opacity: 0;
    /*transition: opacity 2s ease-in-out;*/
    height: 50px;
    width: 50px;
}

.img_container img:nth-child(1) {
    animation: fade 6s infinite;
}

.img_container img:nth-child(2) {
    animation: fade2 6s infinite;
}

@keyframes fade {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes fade2 {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
